<div class="ms-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3" style="width: 18rem;">
                    <a
                        class="link-underline link-underline-opacity-0 link-opacity-50-hover link-dark">
                        <img [src]="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h6 class="card-subtitle"></h6>
                            <h5 class="card-title"></h5>
                        </div>
                    </a>
                    <div class="card-body justify-content-end">
                        <app-add-to-cart></app-add-to-cart>
                        <app-add-to-fav></app-add-to-fav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>