<div class="container">
    <div class="card p-5">
        <h2>Seu Carrinho</h2>
        <div class="row">
            <div class="col-8">
                <div *ngIf="cartItems.length === 0">
                    <p>Que pena! O carrinho está vazio.</p>
                </div>
                <div class="card p-1 m-1" *ngFor="let item of cartItems">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img [src]="item.thumbnail" class="img-fluid rounded-start align-middle"
                                alt="{{ item.title }}" style="width: 10rem;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">{{item.price | currency:'BRL'}}</p>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-danger m-1" id="Add-to-favs" (click)="addToFavs(item)"><i class="bi bi-suit-heart"></i></button>
                                    <button class="btn btn-sm btn-danger m-1" (click)="removeFromCart(item.id)"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"  *ngIf="cartItems.length > 0">
                <div class="row card p-1 m-1">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Resumo do pedido</h5>
                            <p class="card-text">Total: {{ totalPrice | currency:'BRL' }}</p>
                            <button class="btn btn-sm btn-success">Ir para pagamento</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button (click)="clearCart()" class="btn btn-sm btn-danger m-1"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
